html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(21, 14, 92, 1) 50%,
    rgba(52, 19, 88, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
